.mainProduct {
  color: #171616;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.textDivider {
  width: 247.80px;
  color: black;
  font-size: 24px;
  font-weight: 400;
  word-wrap: break-word
}
