<div class="container text-center">
  <div class="row align-items-center justify-content-center">
    <div class="col col-lg-4 text-start">
      <div class="mainProduct">
        Minimal red tulip flower vase.
      </div>
      <div class="mainProduct mt-3">
        $18,99
      </div>
      <div class="mt-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat quis imperdiet sodales.
      </div>
      <button type="button" class="btn btn-dark rounded-pill btn-lg mt-3">Añadir</button>
    </div>
    <div class="col col-lg-3">
      <img src="assets/img/imgMainProduct.png" class="img-fluid" alt="Main product">
    </div>
    <div class="col col-lg-4 text-start">
      <div>Descripción</div>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erat quis imperdiet.</div>
      <div style="width: 392px; height: 0px; border: 0.50px #3D3B36 solid"></div>
      <div>Colores</div>
      <div style="width: 392px; height: 0px; border: 0.50px #3D3B36 solid"></div>
    </div>
  </div>
  <div class="row justify-content-center m-4">
    <div class="col col-lg-3">__________________________________</div>
    <div class="col col-lg-2">Más vendidos</div>
    <div class="col col-lg-3">__________________________________</div>
  </div>
</div>
