<mat-card class="post-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/flores/image_2023-09-07_160942509.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Este tipo de flor es muy bonita y se encuentra en la zona de la sierra de Oaxaca.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Read More</button>
  </mat-card-actions>
</mat-card>
