<div class="container text-center ">
  <div class="row justify-content-center" style="width: 1153px; height: 520px; position: relative">
    <div class="col col-lg-6" style="width: 555px; height: 520px; left: 0px; top: 0px; position: absolute" >
      <div style="width: 555px; height: 520px; left: 0px; top: 0px; position: absolute; background: #FFF6E8"></div>
      <div style="width: 290px; height: 48px; left: 132px; top: 130px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Lato; font-style: italic; font-weight: 500; word-wrap: break-word">Nuestros orígenes</div>
      <div style="width: 400px; height: 189px; left: 77px; top: 200px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Lato; font-weight: 500; word-wrap: break-word">Desde nuestro primer día de operaciones en 1995 llamándonos Florería el Cisne, Lilium Florist le ha ofrecido al público la más amplia selección de productos a precios incomparables. Nuestra tienda virtual es sinónimo de calidad, por lo que te garantizamos contar con la mayor variedad de productos así como de productos temporales o de edición limitada que se adaptan a cualquier presupuesto. Echa un vistazo y empieza a comprar hoy mismo.</div>
    </div>
    <div class="col col-lg-6">
      <img style="width: 555px; height: 520px; left: 598px; top: 0px; position: absolute" src="assets/img/imgTulipanes.png" />
    </div>
  </div>
</div>
