.font{
  font-family: Cormorant Garamond;
}
.title{
  color: #FFF;
  font-family: Cormorant Garamond;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}
.btn{
  background: white;
  color: black
}

mat-raised-button{
  background: white;
}