<footer class="bg-black">
<div class="container-fluid  h-auto text-light">
    <div class="row pt-3">
        <div class="col-6 d-flex justify-content-end">
            <img src="assets/img/logo.png" alt="logo">
        </div>
        <div class="col-6 align-self-center ">
            <p class="fw-bold mx-5 my-0 ">Contáctanos</p>
            <p class="my-1"><span class="border-bottom w-auto pb-0"><a style="color: white; text-decoration: none;" href="mailto:melissaprettyflowers@gmail.com">melissaprettyflowers@gmail.com</a></span></p>
            <p class="mx-3 my-0">0990480486 - 0987866142</p>
        </div>
    </div>
    <div class="row">
        <p class="d-flex justify-content-center pt-4">©2023 por Lilium Florist – All Rights Reserved</p>
    </div>

</div>

</footer>
